bin/
obj/
XCode/
.idea/
.vsconfig
.vs/
.vscode/
Library/
Temp/

ValorNAV_deploy/
Client/Logs/
Client/LuaLib/
Client/Assets/XLua/Gen
Client/AssetBundles
Client/.idea
Client/Assets/StreamingAssets/AssetBundles


Client/UnityProject/DLC/*
Client/UnityProject/Assets/Dependencies/JEngine/Core/.idea/*
Client/UnityProject/.idea/*
Client/UnityProject/HotUpdateScripts/.vs/*
Client/UnityProject/Library/*
Client/UnityProject/Temp/*
Client/UnityProject/obj/*
Client/UnityProject/*.csproj
Client/UnityProject/UnityProject.sln
Client/UnityProject/HotUpdateScripts/obj/*
# UnityProject/ProjectSettings/*
Client/UnityProject/Assets/JEngine.lock
Client/UnityProject/Assets/JEngine.lock.meta
*StreamingAssets/


FMOD/.cache/
FMOD/Metadata/
FMOD/.unsaved


Public/TableTool/System*


ExprotAndroid/

*.sln
!*HotFix_Project*.sln
!*ExcelTool.sln

*.csproj
!*HotFix_Project*.csproj
!*ExcelTool.csproj
!*HotUpdateScripts.csproj
!*HotUpdateScripts.sln


*.log
Client/Assets/Raw.meta


YouYouServer_JAVA/
MYSDK/